body
{
    background-color: black;
    font-size: 20px;
}

#pojemnik
{
	width:900px;
	margin-left:auto;
    margin-right:auto;
    background-color: #939e9a;
    padding: 30px; 
}

#dane1
{
    border: 3px solid #48a080;
    background-color: lightgray;
    padding: 20px; 
}

.k1
{
    font-weight: 700;
}

#ilosc1
{
    border: 3px solid #48a080;
    background-color: lightgray;
    padding: 20px; 
}  
.k2
{
    font-weight: 700;
}

#konta1
{
    border: 3px solid #48a080;
    background-color: lightgray;
    padding: 20px; 
} 

.k3
{
    font-weight: 700;
}

#wyplata
{
    border: 3px solid #48a080;
    background-color: lightgray;
    padding: 20px; 
}

.sr-only
{
    font-weight: 700;
}

#tytul
{
    text-align:center; 
    font-size: 35px;
    font-weight: 700;
    padding-top: 10px; 
}

#autor
{
    text-align:center; 
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px; 
    color: #40876d;
}

#komunikat
{
    border: 3px solid #48a080;
    padding: 20px;
    padding-left: 20px;  
    font-size: 20px;
}